// width
$largr-max-width: 1200px;
$max-width: 1000px;

// color
$primary: #B4895B;
$secondary: #6376B1;
$accent: #CE444D;
$black: #231815;
$white: #ffffff;
$gary: #7a7a7a;
$darkGary: #494949;

$backgroundColor: #e2dad3;

// font width
$font-h1: 65px;
$font-h3: 28px;
$font-h4: 25px;
$font-h5: 20px;
$font-h6: 18px;